<div class="index-wrapper">

    <section class="index-tracks-feed">

    <h2 class="index-feed-heading">track feed:</h2>

        <div class="index-feed-grid">
            <% tracks.each do |track| %>

                <div class="index-tracks-container">

                    <div class="tracks-image-container">

                        <a href="/tracks/<%= track["id"] %>">
                            <img src="<%= track["track_img"]%>" alt="image" class="feed-track-img">
                        </a>
                    </div>

                    <div class="tracks-info-container">

                        <a href="/tracks/<%= track["id"] %>"> 
                        <%= track["track_name"] %>
                        </a>
                        <p> 
                            by <a href="/users/<%= track["user_id"] %>">
                            <%= track["track_publisher_name"] %>
                            </a>
                        </p>   
                    
                    </div>
                        
                </div>

            <% end %>
        </div>    
    </section>

    <aside class="welcome-column">

        <h2 class="welcome-heading">Welcome to $elector</h2>

         <p class="about-text">
        $elector is an online platform for music lovers to discover new tracks and artists, connect with their music community, and support the artists they love. <br>
        The app is loosely inspired by the idea of busking; casually hearing some new music and throwing a dollar or two in that instrument case layed out on the footpath, maybe buying a CD or just discovering a new artist.
        </p>
        <p class="about-text">
        Fresh music uploads appear on the feed in the index page. <br>
        Visitors to the site can listen to tracks, visit artist pages, leave tips on tracks and create their own accounts. <br>
        Logging in allows customisation of the users account page information, uploading of tracks and leaving optional comments along with tips. Each users account page displays the artists and tracks they have supported with tips and their track uploads (if any). <br>
        Dive in!
        </p>

    </aside>
</div>