<header class="track-header">
    <h2><%= track["track_name"] %></h2>
    <h3> <a href="/users/<%= publisher["id"] %>"> <%= publisher["user_name"] %> </a></h3>
</header>   

<!-----------------------------

Interactive column

------------------------------>
<div class="track-interactive-column">

    <img src="<%= track["track_img"]%>" alt="<%= track["track_name"] %>" class="track-img">

    <audio controls controlsList="nodownload" preload="auto" type="audio/mpeg">
	<source src="<%= track["track_audio"] %>" type="audio/mpeg">
	Your browser does not support the audio element.
    </audio>

    <div class="track-input-tips">
        <form action="/tips" method="post">

            <!-- user inputs -->
            <label for="tip">Support artist, leave a tip:</label>
            <input type="number" name="tip_amount" id="tip" step=".01" placeholder="1.00">
     
            <% if logged_in? %>
                <label for="tip_comment">Add a comment:</label>
                <input type="text" name="tip_comment" id="tip_comment"> 
            <% end %>
     
            <!-- hidden inputs -->
            <input type="hidden" name="tipper_id" value="<%= session[:user_id] %>">
            <input type="hidden" name="tipper_name" value="<%= session[:user_name] %>">
            <input type="hidden" name="track_publisher_name" value="<%= publisher["user_name"] %>">
            <input type="hidden" name="track_id" value="<%= track["id"] %>">
            <input type="hidden" name="track_name" value="<%= track["track_name"] %>">
            <input type="hidden" name="track_publisher_id" value="<%= publisher["id"] %>"> 

            <button>submit</button>

        </form>

        <div class="track-edit-delete">

            <% if session[:user_id] == publisher["id"] %>
                <a href="/tracks/<%= track["id"] %>/edit" class="edit-btn">
                    edit
                </a>   

                <form action="/tracks/<%= track["id"] %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-btn">
                    delete
                </button>
                    
                </form>
            <% end %>
        </div>
    </div>
</div>

<!-----------------------------

Track-info

------------------------------>

<section class="track-info">

    <p>Genre: <%= track["genre"] %></p>
    <p><%= track["track_info"] %></p>
    
</section>

<!-----------------------------

Tip section

------------------------------>

<section class="track-tips">

    <% tips.each do |tip| %>
        <div class="tip-container">
            <p class="tip-text">

                <% if tip["tipper_id"] %>

                    <a href="/users/<%= tip["tipper_id"] %>" class="tip-anchor">
                            <%= tip["tipper_name"] %>
                    </a> supported this!
                    
                <% else %>
                    anonymous supported this!
                <% end %>
            </p>
            <p class="tip-comment-text">
                <%= tip["tip_comment"] %>
            </p>
        </div>
       
    <% end %>

</section>

