<h2>edit account</h2>

<div class="edit-user-wrapper">

    <form action="/users/<%= session[:user_id] %>" method="post" class="edit-user-form"> 
        <input type="hidden" name="_method" value="put">

        <!-- user inputs -->
        <div class="input-wrap">
            <label for="user_name">username:</label>
            <input type="text" name="user_name" value="<%= user['user_name'] %>" class="normal-input">
        </div>

        <div class="input-wrap">
            <label for="email">email:</label>
            <input type="text" name="email" value="<%= user['email'] %>" class="normal-input">  
        </div>

        <div class="input-wrap">
            <label for="password">password:</label>
            <input type="password" name="password" class="normal-input" value="<%= user['password'] %>" placeholder="please re-enter password" required> 
        </div>

        <div class="input-wrap">
            <label for="user_bio">bio:</label>
            <input type="text" name="user_bio" value="<%= user['user_bio'] %>" class="normal-input"dsfdsf>   
        </div>

        <div class="input-wrap">
            <label for="user_link">webpage:</label>
            <input type="text" name="user_link" value="<%= user['user_link'] %>" class="normal-input"> 
        </div>

        <div class="input-wrap">
            <label for="user_location">location:</label>
            <input type="text" name="user_location" value="<%= user['user_location'] %>" class="normal-input">
        </div>
        
        <div class="button-container">
            <button class="share-track-btn">save changes</button>
        </div>

    </form>

    

    <form action="/user_images/<%= session[:user_id] %>" method="post" enctype="multipart/form-data" class="edit-user-form edit-img-form"> 
        <input type="hidden" name="_method" value="put">
        <h3 class="edit-subheading">update profile image</h2>

        <div class="input-wrap">
            <label for="user_img">upload file</label>
            <input type="file" name="user_img" class="normal-input">
        </div>
        <button class="share-track-btn">submit</button>
    </form>
</div>