<h2 class="new-track-heading">edit track details</h2>
<div class="edit-track-wrapper">

    <div class="edit-details-column">

        <h3 class="edit-subheading">edit track details</h3>
        <form action="/tracks/<%= track["id"] %>" method="post" enctype="multipart/form-data"> 
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="track_publisher_name" value="<%= session[:user_name] %>">

            <!-- user inputs -->
            <div class="input-wrap">
                <label for="track_name">track name:</label>
                <input type="text" name="track_name" value="<%= track["track_name"]%>" class="normal-input">
            </div>

            <div class="input-wrap">
                <label for="genre">genre:</label>
                <input type="text" name="genre" value="<%= track["genre"]%>" class="normal-input"> 
            </div>
        
            <div class="input-wrap">
                <label for="track_info">track info:</label>
                <input type="text" name="track_info" value="<%= track["track_info"]%>" class="normal-input">
            </div>

            <div class="input-wrap">
                <label for="purchase_link">buy link:</label>
                <input type="text" name="purchase_link" value="<%= track["purchase_link"]%>" class="normal-input">
            </div>
            
             <div class="button-container">
                <button class="share-track-btn">update track</button>
            </div>

        </form>

    </div>

    <div class="edit-assets-column">

        <h3 class="edit-subheading">edit track artwork</h3>
    
        <form action="/track_img/<%= track["id"] %>" method="post" enctype="multipart/form-data"> 
            <input type="hidden" name="_method" value="put">

            <div class="upload-wrap">
                <label for="track_artwork"></label>
                <input type="file" name="track_img" class="normal_input">
                <button class="share-track-btn">submit</button>
            </div>

        </form>

        <h3 class="edit-subheading">edit audio file</h3>

        <form action="/audio/<%= track["id"] %>" method="post" enctype="multipart/form-data"> 
            <input type="hidden" name="_method" value="put">
            <div class="upload-wrap">
                <label for="track_audio"></label>
                <input type="file" name="track_audio" class="normal_input">
                <button class="share-track-btn">submit</button>
            </div>
        </form>

    </div>

</div>